<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <link rel="icon" id="icon" href="../images/store.jpg" type="image/x-icon"/>
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/shubiaotexiao.js"></script>

    <script>
        //阴间特效
        function starteggs(){
            console.log(randomColor())                 //浏览器调试log输出
            color = randomColor();                     //赋值随机颜色代码
            if(document.getElementById("Main") != null){
                document.getElementById("Main").style.background = color;
            }
            if(document.getElementById("Catalog") != null){
                document.getElementById("Catalog").style.background = color;
            }
        }
        function randomRange(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        };
        function randomColor() {                     //随机输出十六位颜色代码
            var color = randomRange(0, 0xFFFFFF);
            return '#' + ('000000' + color.toString(16)).slice(-6);
        };

        //阴间title
        document.addEventListener('visibilitychange',function(){
            if(document.visibilityState=='hidden'){
                $("#icon").attr("href","../images/favicon.ico");
                normal_title=document.title;
                document.title='Free Porn Videos & Sex Movies - Porno, XXX, Porn Tube and Pussy Porn';
            }
            else{
                $("#icon").attr("href","../images/store.jpg");
                document.title=normal_title;
            }
        });

        document.addEventListener("mousedown",function (){
            eval(1,1,1,1,1,1);
        })

    </script>
</head>

<body>
    <header th:fragment="header">
        <div id="Header">

            <div id="Logo">
                <div id="LogoContent">
                    <a href="/catalog/view"><img src="../images/logo-topbar.gif" /></a>
                </div>
            </div>

            <div id="Menu">
                <div id="MenuContent">

                    <input type="button" value="阴间特效，别点" onclick="setInterval(starteggs,1)"/>

                    <a href="/cart/viewCart"><img align="middle" name="img_cart" src="../images/cart.gif" /></a>
                    <img align="middle" src="../images/separator.gif" />
                        <a href="/main/login" th:if="${session.account == null}" th:onshow="onshow">Sign In</a>
                        <a href="/account/signout" th:if="${session.account != null}" th:onshow="onshow">Sign Out</a>
                        <img align="middle" src="../images/separator.gif" />
                        <a href="/account/getAccount">My Account</a>
                        <img align="middle" src="../images/separator.gif" />
                    <a href="help.html">?</a>
                </div>
            </div>

            <div id="Search">
                <div id="SearchContent">
                    <form action="search" method="post">
                        <div>
                            <input id="keyword" type="text" name="keyword" size="14" autocomplete=off/>
                            <input type="submit" name="search" value="Search"/>
                        </div>
                        <div id="find"></div>
                    </form>
                </div>
            </div>

            <div id="QuickLinks">
                <a href="/catalog/viewCategory?categoryId=FISH">
                    <img src="../images/sm_fish.gif">
                </a>
                <img src="../images/separator.gif">
                <a href="/catalog/viewCategory?categoryId=DOGS">
                    <img src="../images/sm_dogs.gif">
                </a>
                <img src="../images/separator.gif">
                <a href="/catalog/viewCategory?categoryId=REPTILES">
                    <img src="../images/sm_reptiles.gif">
                </a>
                <img src="../images/separator.gif">
                <a href="/catalog/viewCategory?categoryId=CATS">
                    <img src="../images/sm_cats.gif">
                </a>
                <img src="../images/separator.gif">
                <a href="/catalog/viewCategory?categoryId=BIRDS">
                    <img src="../images/sm_birds.gif">
                </a>
            </div>
        </div>
    </header>
</body>
</html>