<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/top"></div>

<table>
    <tr>
        <th>Date</th>
        <th>log</th>
    </tr>

    <c:forEach var="dailyLog" items="${sessionScope.dailyLogList}">
        <tr>
            <td>
                <fmt:formatDate value="${dailyLog.date}" pattern="yyyy/MM/dd hh:mm:ss" />
            </td>
            <td>
                <c:if test="${dailyLog.item}">
                    view item: <a href="item?itemId=${dailyLog.log}">${dailyLog.log}</a>
                </c:if>
                <c:if test="${dailyLog.order}">
                    place an order: <a href="orderViewForm?orderId=${Integer.valueOf(dailyLog.log)}">${dailyLog.log}</a>
                </c:if>
                <c:if test="${!dailyLog.item&&!dailyLog.order}">
                    ${dailyLog.log}
                </c:if>
            </td>
        </tr>
    </c:forEach>
</table>

<div th:replace="common/bottom"></div>

</html>