<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>

<body>
<div th:replace="common/top"></div>

<div id="Catalog">
<table>
    <tr>
        <th>Date</th>
        <th>log</th>
    </tr>

    <tr th:each="blog:${blogList}">
        <td th:text="${blog.orderDate}">blog.orderDate</td>
        <td th:text="${blog.description}">blog.description</td>
    </tr>
</table>
</div>

<div th:replace="common/bottom"></div>
</body>

</html>