<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<c:if test="${sessionScope.account.listOption}">
    <p>Pet Favorites <a href="category?categoryId=${sessionScope.account.favouriteCategoryId}">${sessionScope.account.favouriteCategoryId}</a><br />
        Shop for more of your favorite pets here.</p>
    <%--	<ul>--%>
    <%--		<c:forEach var="product" items="${sessionScope.myList}">--%>
        <%--			<li>--%>
            <%--				<a href="#?productId=${product.productId}">${product.name}</a>--%>
            <%--			</li>--%>
        <%--		</c:forEach>--%>
    <%--	</ul>--%>
</c:if>

</html>