<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.CategoryMapper">
    <select id="getCategory" parameterType="string" resultType="Category">
        SELECT
            CATID AS categoryId,
            NAME,
            DESCN AS description
        FROM CATEGORY
        WHERE CATID = #{categoryId}
    </select>

    <select id="getCategoryList" resultType="Category">
        select
            catId as categoryId,
            name,
            descn as description
        from category
    </select>

    <insert id="insertCategory" parameterType="Category">
        insert into category(
            catId,
            name,
            descn
        )
        values(
            #{categoryId},
            #{name},
            #{description}
        )
    </insert>

    <update id="updateCategory" parameterType="Category">
        update category set
            catId = #{categoryId},
            name = #{name},
            descn = #{description}
        where catId = #{categoryId}
    </update>

    <delete id="delCategoryByCategoryId" parameterType="string">
        delete from category where catId = #{categoryId}
    </delete>
</mapper>