<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ItemMapper">
    <select id="getItem" parameterType="string" resultType="Item">
        select
            I.itemId,
            listprice,
            unitcost,
            supplier as supplierId,
            I.productId as "product.productId",
            name as "prodcut.name",
            descn as "product.description",
            category as "prodcut.categoryId",
            status,
            attr1 as attribute1,
            attr2 as attribute2,
            attr3 as attribute3,
            attr4 as attribute4,
            attr4 as attribute5,
            qty as quantity
        from item I, inventory V, product P
        where P.productId = I.productId
            and I.itemId = V.itemId
            and I.itemId = #{itemID}
    </select>

    <select id="getItemListByProduct" parameterType="string" resultType="Item">
        select
            I.itemId,
            listprice,
            unitcost,
            supplier as supplierId,
            I.productId as "product.productId",
            name as "product.name",
            descn as "product.description",
            category as "product.description",
            status,
            attr1 as attribute1,
            attr2 as attribute2,
            attr3 as attribute3,
            attr4 as attribute4,
            attr5 as attribute5
        from item I, product P
        where P.productId = I.productId
        and I.productId = #{productId}
    </select>

    <select id="getInventoryQuantity" parameterType="string" resultType="int">
        select qty as value
        from inventory
        where itemId = #{itemId}
    </select>

    <update id="updateInventoryQuantity">
        update inventory set
            qty = qty - #{increment}
        where itemId = #{itemId}
    </update>

    <insert id="insertItem" parameterType="Item">
        insert into item(
            itemId,
            productId,
            listprice,
            unitcost,
            supplier,
            status,
            attr1,
            attr2,
            attr3,
            attr4,
            attr5
        )
        values(
            #{itemId},
            #{productId},
            #{listPrice},
            #{unitcost},
            #{supplierId},
            #{status},
            #{attribute1},
            #{attribute2},
            #{attribute3},
            #{attribute4},
            #{attribute5}
        )
    </insert>

    <update id="updateItem" parameterType="Item">
        update item set
            itemId =  #{itemId},
            productId = #{productId},
            listprice = #{listPrice},
            unitcost = #{unitcost},
            supplier = #{supplierId},
            status = #{status},
            attr1 = #{attribute1},
            attr2 = #{attribute2},
            attr3 = #{attribute3},
            attr4 = #{attribute4},
            attr5 = #{attribute5}
        where itemId =  #{itemId}
    </update>

    <delete id="delItemByItemId" parameterType="string">
        delete from item where itemId = #{itemId}
    </delete>

    <delete id="delItemByProductId" parameterType="string">
        delete from item where productId = #{productId}
    </delete>
</mapper>