<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <select id="getOrdersByUsername" parameterType="string" resultType="Order">
        
    </select>
    
    <select id="getOrder" parameterType="int" resultType="Order">
        
    </select>
    
    <select id="insertOrder" parameterType="Order">
        
    </select>
    
    <select id="insertOrderStatus" parameterType="Order">

    </select>
</mapper>