<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ProductMapper">
    <select id="getProductListByCategory" parameterType="string" resultType="Product">
        SELECT
            productid,
            name,
            descn AS description,
            category AS categoryId
        FROM product
        WHERE category = #{categoryId}
    </select>

    <select id="getProduct" parameterType="string" resultType="Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN AS description,
            CATEGORY AS categoryId
        FROM PRODUCT
        WHERE PRODUCTID = #{productID}
    </select>
    
    <select id="searchProductList" parameterType="string" resultType="Product">
        select
            productId,
            name,
            descn as description,
            category as categoryId
        from product
        where lower(name) like #{keywords}
    </select>

    <insert id="insertProduct" parameterType="Product">
        insert into product(
            productId,
            category,
            name,
            descn
        )
        values(
            #{productId},
            #{categoryId},
            #{name},
            #{description}
        )
    </insert>

    <update id="updateProduct" parameterType="Product">
        update product set
            productId =  #{productId},
            category = #{categoryId},
            name = #{name},
            descn = #{description}
        where productId =  #{productId}
    </update>

    <delete id="delProductByProductId" parameterType="string">
        delete from product where productId = #{productId}
    </delete>

    <delete id="delProductByCategoryId" parameterType="string">
        delete from product where category = #{categoryId}
    </delete>

    <select id="getAllProducts" resultType="Product">
        select * from product
    </select>
</mapper>