<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.SequenceMapper">
    <select id="getSequence" parameterType="Sequence" resultType="Sequence">
        select
            name,
            nextId
        from sequence
        where name = #{name}
    </select>
    
    <update id="updateSequence" parameterType="Sequence">
        update sequence
        set nextId = #{nextId}
        where name = #{name}
    </update>
</mapper>